<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
            <img
              src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
              height="15"
              alt="MDB Logo"
              loading="lazy"
            />
          
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <% if user_signed_in? %>
              <a class="nav-link" href="<%= current_user_id_post_path(@posts, current_user.id) %>">Profile</a>
               <% else %>
                <a class="nav-link" href="#">Profile</a>

                <%end%>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= posts_path %>">Time Line</a>
            </li>
            
        
          </ul>
          <!-- Left links -->
        </div>
       <div class="dropdown">
            <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle dropdown-toggle " data-bs-toggle='dropdown'
            height="25"
            
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
         <% if user_signed_in? %>
        <ul
        
          class="dropdown-menu "
          
        >
          <li>
            <a class="dropdown-item" >Hi ,<%= @current_user.name%></a>
          </li>
          <li>
            <a class="dropdown-item" href=" <%=  edit_user_registration_path %>">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="<%=  destroy_user_session_path %>">Logout</a>
          </li>
        </ul>
        <% else %>
        <ul
        
          class="dropdown-menu "
          
        >
          <li>
            <a class="dropdown-item" >Hi </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
        <%end%>
      </div>
    
          
          
        </div>
        
      </div>
      
    </nav>
<div class="grid-container">
   
  
      <% @posts.where(status: "public").each do |post| %>
        <div class="card" style="width: 18rem;">
        <img
        src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
        class="img-thumbnail"
        alt="Hollywood Sign on The Hill"
      />
      <div class="container p-5 my-5 border">
        <div class="position-relative">
          <div class="position-absolute  bottom-0 end-0">
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" >
             <i class="fa-brands fa-readme"></i><br/>
             </button>
          </div>
        </div>
        
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title"></h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <%= link_to("Show Page", post_path(post)) %>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>

            </div>
         </div>
       </div>

        Title: <%= post.title %></br> - Description: <%= post.description %></br> 
      </div>
      </div>  
     <% end %>
    </div>
  </div>


     
      
    
    <div class="container-fluid">
      <div class="fixed-bottom ">
        <div class="position-absolute  bottom-0 end-0 ">
          <button type="button" class="btn btn-primary round rounded-circle " data-bs-toggle="modal" data-bs-target="#mmyModal">
            <i class="fa-sharp fa-solid fa-plus-minus"></i>
          </button>
       </div>
      </div>
    </div>
    <div class="modal" id="mmyModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <%= link_to "New Article", new_post_path %>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
   
    
    
  







  