  <div class="ccontainer ">
<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :description %><br>
    <% @post.errors.full_messages_for(:descrition).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
   <%= form.radio_button :status, 'public' %>
   <%= form.label :status, 'public' %>
   <%= form.radio_button :status, 'private' %>
   <%= form.label :status, 'private' %>
   </div>
  <div>
    <%= form.submit %>
  </div>
  
<% end %>
</div>